.container {position: absolute;top: 0px;bottom: 0px;width: 100%;min-width: 1024px;}
.main{display: flex;position: absolute;top: 60px;bottom: 0px;overflow: hidden;}
.min-left{ width: 202px;}
.min-right{padding:10px 0; width: calc( 100% - 202px );}
.max-right{padding:10px 0; width: calc( 100% - 60px );}
.el-menu{ height:100%;padding-right: 0 !important;border-radius: 0;}
.el-row {border-radius:0;width:100%;box-sizing:border-box; &:last-child {margin-bottom: 0;}}
.el-col {border-radius:0;box-sizing: border-box;}
.grid-content {min-height: 36px;}
.row-bg {padding:0;}
.header {height: 60px;line-height: 60px;background: #324057;color: #fff; width: 100%;}
.userinfo {text-align: right;padding-right: 35px;float: right;}
.userinfo-inner {cursor: pointer;color: #fff;}
.userinfo-inner img {width: 40px;height: 40px;border-radius: 20px;margin: 10px 0px 10px 10px;float: right;}
.logo {width: 230px;height: 60px;font-size: 22px;padding-left: 20px;padding-right: 20px;border-color: rgba(238, 241, 146, 0.3);border-right-width: 1px;border-right-style: solid;float: left;}
.logo img {width: 40px;float: left;margin: 10px 10px 10px 18px;}
.txt {color: #fff;}
.logo-width {width:192px;}
.logo-collapse-width {width: 60px}
.tools {padding: 0px 23px;width: 14px;height: 60px;line-height: 60px;cursor: pointer;}
.fa-align-justify{font-size: 18px;}
.aside {flex: 0 0 230px;width: 230px;position: absolute;top: 0px;bottom: 0px;}
.el-submenu{position: relative;}			
.submenu {position: absolute;top: 0px;left: 69px;z-index: 99999;height: auto;display: none;}
.el-submenu .el-menu-item{min-width:60px;}
.haed-btn{ width: 100%; margin: 0 auto; display: block;}
.haed-btn .el-button{ margin:0 0 10px;}




/**字体图标**/
.icon-shouye{font-size:20px;}

/**首页**/
.index h1{font-size: 20px; margin:0px 0 10px;}
.index h3{font-weight: 700;padding: 10px 0;}
.table-list td,.table-list th{overflow:hidden;text-overflow:ellipsis;}
.table-list td.caption,.table-list th.caption{width: 160px;text-align: right;border-right: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
.table-list{width:100%;border:#dbdbdb 1px solid;border-bottom:0;table-layout:fixed;}
.table-list tr td,.table-list .default tr th{line-height:24px;height:24px;padding:4px 0 4px 6px;border-bottom:#dbdbdb 1px solid;}
.table-list tr th{background:#f1f2f3}
.table-list tr.odd{background:#f1f1f1}
.table-list.border tr td,.table-list.border tr th{padding: 3px;border-left:#dbdbdb 1px solid;}
.table-list.border tr th{text-align: center;}
.table-list.default tr th {background: #f1f2f3;}
.table-list.default tr td, .table-list.default tr th {line-height: 24px;height: 24px;padding: 4px 0 4px 6px;border-bottom: #dbdbdb 1px solid;}

/**Breadcrumb面包屑**/
.breadcrumb{ padding:0 0 10px;font-size: 14px;}
.el-menu--dark{ width: 100%; min-width: 192px; max-width: 192px;}

/**搜索框*/
.seach-text{ width:300px; display: inline-block;}

.homer{width: 100%;text-align: center; display: block;border-bottom: 1px solid #eee; padding:1rem 0; font-size: 1.4rem;}
